.contenedorGlobal {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.contenedorDiferencia {
    text-align: center;
}

.contenedorConciliacionPrincipal {
    padding: 10px;
    display: grid;
    grid-template-columns: 49% 2% 49%;
}
.contenedorConciliacion {
    padding: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.tablas {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.cuadroMando {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--text-color);
}

.botonEliminar {
    height: auto;
    font-size: 15px;
}

.botonAlternativa {
    background-color: var(--text-color) !important;
    color: var(--body-color);
}

.botonBuscarPosibles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.botonBuscar {
    border: none;
}
.opciones {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}