.titulo {
    white-space: nowrap;
}
.cursotitulo {
    display: flex;
    display: inline-block;
    flex-direction: row;
    text-align: left;
    gap: 20px;
    padding: 10px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.cursointeraccion {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}