
.App {
  --navbar: #e5e7e9;
  --iniback: #1b1b32;
  --target: #0a0a23;
  --console: #13132a;
  /* --hov: #f5f6f7; */
  --links: #07c9ff;
  text-align: center;
  background-color: var(--console);
}

.login {
  background-color: #1b1b32;
  display: flex;
  height: 100vh;
  text-align: center;
  justify-content: center;
}
.HomeMongo {
  background-color: #1b1b32;
  height: 100vh;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 80px 10px 80px;
}

@media screen and (max-width: 700px) {
  .HomeMongo {
    padding: 5px;
  }
}
.home-pregunta {
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: var(--console);
  border-color: #ffffff;
  border: 2px solid var(--target);
  color: #ffffff;
  gap: 5px;
  min-height: 100px;
}


.opciones {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.home-boton {
  text-decoration: none;
  font-size: 20px;
  padding: 8px;
  justify-content: space-around;
  background: #3b3b4f;
  border: 15px;
  border-color: #ffffff;
  text-align: center;
  border: 2px solid #e5e7e9;
  color: #ffffff;
  align-items: center;
  gap: 5px;
}
.home-boton:hover {
  background: #e5e7e9;
    color: #3b3b4f;
}

.home-seccion {
  text-decoration: none;
  color: #74767a;
  font-size: 20px;
}
.home-seccion:hover {
  color: var(--links);
}

.home-capitulo {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  padding: 10px 0px 0px 0px;
}
.home-capitulo1 {
  background-color: inherit;
  color: #ffffff;
  border: none;
}
.home-capitulo1:hover {
  color: var(--links);
}

.encabezadocursos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #2a2b40;
  padding: 10px 15px 10px 15px;
}

/* //formulario// */

.form-opciones{
  display: flex;
  flex-direction: column;
}
.opciones-container {
  display: flex;
  flex-direction: row;
}
.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.form-pyr {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
}
.pyr-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* @media (max-width: 710px) {
  .form-pyr {
    width: 400px;
    }
  } */

.editarcurso {
  display: flex;
}
.aa::after {
  content: "→";
}

h2 {
  text-align: center;
  padding: 5px;
}

h5 {
  text-align: center;
  padding: 5px;
}

#botonmostrar {
  background-color: #ffffff;
  color: #2a2b40;
}
.consola {
  background-color: #13132a;
  padding: 10px;
}
.navconsola {
  background-color: #13132a;
  padding: 10px;
}

hr {
  margin-top: 25px;
  margin-bottom: 25px;
  border: 0;
  border-top: 1px solid #eee;
  border-top: 1px solid #3b3b4f;

}
.enconsola {
  color: #74767a;
}

.botonhistorial {
  background-color: inherit;
  border-radius: 50%;
  border-color: #74767a;
  color: #74767a;
}

blockquote {
  font-size: 16px;
  font-style: italic;
}

.link a:hover {
  color: var(--links) !important;
}

code {
  padding: 1px 5px 3px 5px;
  background-color: #3b3b4f;
  color: #dfdfe2 !important;
  font-size: inherit !important;
  font-family: var(--bs-body-font-family) !important;
}

code:hover {
  color: #07c9ff !important;
}

.Inicio {
  background-color: var(--iniback);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0px 50px 0px 50px;
}

.home {
  width: 100%;
}

.App-link {
  color: var(--links);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.nav-bar li {
  list-style: none;
  align-items: center;
  justify-content: center;
}
.nav-bar ul {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-bar {
  background-color: #3b3b4f;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px;
  align-items: center;
  color: #ffffff;
  width: 100%;
  justify-content: flex-end;
  font-size: 20px;
  border-bottom: 2px solid aliceblue;
}
.nav-bar a {
  text-decoration: none;
  color: #ffffff;
}
.nav-bar a:hover {
  color: var(--links);
}

.nav-boton {
  background: #3b3b4f;
  border: 15px;
  border-color: #ffffff;
  text-align: center;
  border: 2px solid #e5e7e9;
  color: #ffffff;
  align-items: center;
  width: 90px;
}
.nav-boton:hover {
  background: #e5e7e9;
  color: #3b3b4f;
}

.usuario {
  padding: 0px 0px 0px 20px;
  gap: 15px;
  display: flex;
}


.dropdown {
  font-size: 20px;
}


.menu {
  display: flex;
  font-size: 20px;
  text-align: left;
}
.menu ul {
  list-style: none;
  padding: 5px;
}

@media (max-width: 633px) {
  .nav-bar ul {
    display: grid;
    grid-template-columns: 50% 50%;
    line-height: 1.4;
    text-align: center;
    font-size: 14px;
    gap: 0px;
    padding: 0px;
    }
    .nav-boton {
      width: 70px;
    }
  }
  
@media (max-width: 700px) {
  .nav-bar{
    font-size: 17px;
    }
  .nav-boton {
      width: 80px;
    }
  }

.boton-editar {
  background: #3b3b4f;
  border: 15px;
  border-color: #ffffff;
  text-align: center;
  border: 2px solid #e5e7e9;
  color: #ffffff;
  align-items: center;
}
.boton-editar:hover {
  background: #e5e7e9;
  color: #3b3b4f;
}

.perfil {
  grid-template-columns: auto 5fr;
  background-color: var(--iniback);
  min-height: 100vh;
  display: grid;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.menuperfil {
  background-color: #22223c;
}
.perfil-boton {
  display: flex ;
  flex-direction: column ;
  font-size: 17px;
  padding: 5px;
  justify-content: space-around ;
  background: #3b3b4f;
  border: 15px;
  border-color: #ffffff;
  text-align: center;
  border: 2px solid #e5e7e9;
  color: #ffffff;
  align-items: center;
  width: 100%;
}
.perfil-boton:hover {
  background: #e5e7e9;
    color: #3b3b4f;
  
}

.perfil a {
  text-decoration: none;
  color: aliceblue;
}

li {
  list-style: none;
}


.mispreguntas {
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media screen and (max-width: 800px) {
	.perfil {
    display: flex;
    flex-direction: column;
  }
  .menu ul {
    display: flex;
    width: 100%;
    padding: 2px;
  }
}

.cuadro {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #12122a;
    background-clip: border-box;
    border: 2px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    padding: 15px;
    
}
.cuadro::after {
  content: "";
  margin-top: 25px;
  margin-bottom: 25px;
  border: 0;
  border-top: 1px solid #eee;
  border-top: 1px solid #3b3b4f;
}
.cuadro-respuesta {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--iniback);
  background-clip: border-box;
  border: 2px solid rgba(38, 39, 48, 0.125);
  border-radius: 0.25rem;
  padding: 15px;
  
}
.cuadro:hover {
  box-sizing: border-box;
  box-shadow: #07c9ff;
  border-color: #07c9ff;
}
.respuesta {
  font-size: 20px;
}

.contenedorpreguntas {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}
.boton {
  font-size: 15px;
  width: auto;
}


.cuadrilla {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  
}

.examenes {
  --exaback: #74767a;
  --exa: #2d3036;
  background-color: var(--exaback);
  min-height: 100vh;
  padding: 20px;
 
}
.examen {
  height: 200px;
  color: antiquewhite;
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  word-wrap: break-word;
  background-color: var(--exa);
  background-clip: border-box;
  border: 2px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  padding: 15px;
  
}
.examen .textos {
  justify-content: space-between;
  height: 100%;
}
@media screen and (max-width: 900px) {
	.cuadrilla {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
	.cuadrilla {
    grid-template-columns: 1fr 1fr;
  }
}


.examen:hover {
  box-sizing: border-box;
  box-shadow: var(--links);
  border-color: var(--links);
}

.pagina-examen {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0px 50px 0px 50px;
}

.pagina-examen-agregar-preg {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.comentario {
  display: grid;
  grid-template-columns: 105px 1fr;
  height: auto;
  text-align: left;
  padding: 10px;
  gap: 20px;
}

.comentar {
  padding: 10px;
}

@media screen and (max-width: 500px) {
  .comentario {
    display: flex;
    gap: 5px;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .perfil {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.respuestaa {
  display: none
}
.botonocultar {
  display: none;
}
.userNombre {
  width: 105px;
}

.pagina-examen a {
  text-decoration: none;
  color: white;
}
.pagina-examen a:hover {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 500px) {
  .cuadrilla {
    grid-template-columns: 1fr;
  } .Inicio {
    padding: 5px;
  }
  .boton {
    font-size: 12px;
  }
  .pagina-examen {
    padding: 5px;
  }
  .agregar {
    width: 100%;
  }
  .dropdown {
    font-size: 15px;
  }
  .usuario {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  blockquote {
    font-size: 11px;
  } .perfil-boton {
    font-size: 15px;
  }
}



/* //cursos// */

.cursos {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #1b1b32;
  color: #e5e7e9;
  font-size: 20px;
}
/* .cursos li {
  list-style: none;
} */
.cursos-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 50px 50px 50px;
  min-height: 100vh;
  
}

.cuadro-curso {
  background-color: #0a0a23;
  text-align: left;
}
.cursos-descripcion {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0px 20%;
}
.show {
  width: 100%;
display: block;
}
.hide {
  width: 100%;
display: none;
}
.respuesta-hide {
  width: 100%;
  display: none;
  background: #0a0a23;
  color: #e5e7e9;
  height: 50px;
  border: none;
  padding: 10px;
}
.respuesta-show {
  width: 100%;
  display: block;
  background: #0a0a23;
  color: #e5e7e9;
  height: 50px;
  border: none;
  padding: 0;
}

.bloque-curso {
  padding: 15px;
  color: #e5e7e9;
}

.bloque-descripcion {
  border-bottom: 3px solid #1b1b32;
  padding: 0 15px 15px;
}

.boton-curso {
  background: #0a0a23;
  color: #e5e7e9;
  height: 50px;
  border: none;
  padding: 0;
}
.boton-curso:hover {
  background: #3b3b4f;
}


@media screen and (max-width: 1000px) {
  .cursos-descripcion {
    padding: 0;
  } .cursos-container {
    padding: 0;
  } 
}

.block ul {
  -webkit-padding-start: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
}

.tema {
  padding: 10px 15px 10px 15px;
  width: 100%;
}
.tema:hover {
  background: #3b3b4f;
}
.tema a {
  text-decoration: none;
  color: #e5e7e9;
  font-weight: 500;
}
.tema a:hover {
  text-decoration: none;
  color: #e5e7e9;
}

.listado-cursos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.listado-cursos button {
  font-size: 20px;
  padding: 8px;
  justify-content: space-around;
  background: #3b3b4f;
  border: 15px;
  border-color: #ffffff;
  text-align: center;
  border: 2px solid #e5e7e9;
  color: #ffffff;
  align-items: center;
  gap: 5px;
}
.listado-cursos button:hover {
  background: #e5e7e9;
  color: #3b3b4f;
}


.capitulos {
  display: grid;
  grid-template-columns: 50% 2px 50%;
  min-height: 100vh;

}
.secciones {
  display: flex;
  flex-direction: column;
  background-color: #1b1b32;
  color: #e5e7e9;
  padding: 15px;
  font-size: 20px;
  
}
.seccion {
  padding: 5px;
}

.reflex-container.vertical>.reflex-splitter {
  border-left: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
  cursor: col-resize;
  height: 100%;
  width: 2px;
}
.destacar {
  background-color: #0a0a23;
  height: auto;
  align-items: center;
  padding: 10px 0 1px 10px;
}

@media screen and (max-width: 700px) {
  .capitulos {
    display: flex;
    flex-direction: column;
    min-height: auto;
  } .secciones {
    font-size: 16px;
    padding: 5px;
    min-height: 500px;
  }
}

.cursos-botones {
  display: flex;
  justify-content: space-between;
}

.cursos-as {
  display: flex ;
  flex-direction: column ;
  font-size: 17px;
  padding: 5px;
  width: 40%;
  justify-content: space-around ;
  background: #3b3b4f;
  border: 15px;
  border-color: #ffffff;
  text-align: center;
  border: 2px solid #e5e7e9;
  color: #ffffff;
  align-items: center;
}

.cambioseccion {
  background-color: #0a0a23;
  font-size: 20px;
}

.cursos-as:hover {
    background: #e5e7e9;
    color: #3b3b4f;

}

.botones-editar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.as {
  height: 100%;
  justify-content: space-between;
  background: #74767a;
  
}
.capitulos img {
  max-width: 100%;
}

.secciones a {
  color: #e5e7e9;
  text-decoration: none;
}
.secciones a:hover {
  color: #e5e7e9;
}

@media screen and (max-width: 570px) {
  .cursos {
    font-size: 15px;
  }
}

.imp {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: auto;
  
}

.proceso {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

em {
  padding: 1px 5px 3px 5px;
  background-color: #3b3b4f;
  color: #dfdfe2 !important;
  font-size: inherit !important;
  font-family: var(--bs-body-font-family) !important;

  
}

.preguntascurso {
  padding: 10px 0 10px;
}
