.App {
  /* --navbar: #e5e7e9;
  --iniback: #1b1b32;
  --target: #0a0a23;
  --console: #13132a;
  --hov: #f5f6f7;
  --links: #07c9ff;
  text-align: center;
  background-color: #dfdfe2; */
}
:root {
  --main-color: #1083D6;
  --title-color: #2A3B47;
  --text-color: #1b1b32;
  --light-text-color: #A0A7AC;
  --border-color: #1b1b32;
  --container-color: #dfdfe2;
  --body-color: #f5f6f7;
  --container-shadow : 0 1px 4px rgba(146,161,176,.15);
  --container-shadow-hover: #0d50e9;
  --link-hover: #0d50e9;
  --destacar: #e9e9e9;
  --codes: #d0d0d5;
  --secundario: #dfdfe2;
  --border-cuadro: #1b1b32;
  --textarea-color: #f5f6f7;
  --textarea-placeholder: #989fa3;  
}
body.dark-theme {
  --main-color: #52A5E0;
  --title-color: #EFF3F5;
  --text-color: #f5f6f7;
  --light-text-color: #A0A7AC;
  --border-color: #C8CDD0;
  --container-color: #13132a;
  --body-color: #1b1b32;
  --container-shadow: #3b3b4f;
  --container-shadow-hover: #07c9ff;
  --link-hover: #07c9ff;
  --destacar: #0a0a23;
  --codes: #3b3b4f;
  --secundario: #3b3b4f;
  --border-cuadro: #0a0a23;
  --textarea-color: var(--secundario);
  --textarea-placeholder: var(--text-color);
}

body {
  background: var(--body-color) !important;
  color: var(--text-color) !important;
}

table th {
  border: 1px solid;
  min-width: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
table td {
  border: 1px solid;
  min-width: 40px;  
  padding-left: 5px;
  padding-right: 5px;
}
textarea::placeholder {
  color: var(--textarea-placeholder);
}
textarea {
  color: var(--text-color);
  background-color: var(--textarea-color);
  border-color: var(--border-color);
}

.switchTema {
  background: var(--body-color);
  color: var(--text-color);
  font-size: 15px;
  text-decoration: none;
  border: none;
  width: 100%;
  height: 100%;
  &::before {
    content : '🌞';

    .dark-theme & {
      content :  '🌙';
    }
  }
}
.contendedor-pregunta-respuesta {
  width: 100%;
  overflow: scroll;
  overflow-y: hidden;
  // overflow-x: hidden;
}
.contendedor-pregunta-respuesta::-webkit-scrollbar {
  display: none;
}

.contenedorbuscador {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  overflow: scroll;
  min-height: fit-content;
  max-height: 1000px;
  overflow-x: hidden;
  font-size: 22px;
  text-align: left;
  padding: 5px;
  color: var(--text-color);
}

.buscador {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--body-color);
  color: var(--text-color);
  border-bottom: 1px solid var(--border-color);
  gap: 20px;
  text-align: center;
}
.boton-buscar {
  background-color: var(--secundario);
  color: var(--text-color);
  border: 2px solid var(--border-color);
}
.form-buscador {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.login {
  background-color: var(--body-color);
  color: var(--text-color);
  display: flex;
  height: 100vh;
  text-align: center;
  justify-content: center;
}
.HomeMongo {

  min-height: 100vh;
  height: max-content;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 80px 10px 80px;
}

@media screen and (max-width: 700px) {
  .HomeMongo {
    padding: 20px 5px;
  }
}
.home-pregunta {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  gap: 5px;
  min-height: 100px;
  box-shadow: 0px 0px 3px 1px var(--container-shadow-hover);
}

.homebuscar {
  text-align: right;
}
.homebuscar input {
  width: 50px;
}
.home-botonbuscar {
  background: none;
  border: none;
  padding: 0 0 0 5px;
  font-size: 20px;
}
.home-multiple {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 18px;
}

.opciones {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  text-align: left;
}
.opciones input {
  width: 20px;
  height: 20px;
  color: #22223c;
}
.opciones label {
  display: flex;
  align-items: center;
  gap: 15px;
}

.home-boton {
  text-decoration: none;
  font-size: 20px;
  padding: 8px;
  justify-content: space-around;
  background: var(--secundario);
  border: 15px;
  text-align: center;
  border: 2px solid var(--text-color);
  align-items: center;
  gap: 5px;
  color: var(--text-color);
}
.home-boton:hover {
  background: var(--text-color);
  color: var(--secundario);
}
.controlar {
  text-align: center;
}
.home-seccion {
  text-decoration: none;
  color: #74767a;
  font-size: 20px;
}
.home-seccion:hover {
  color: var(--links);
}

.home-capitulo {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  padding: 10px 0px 0px 0px;
}
.home-capitulo1 {
  background-color: inherit;
  border: none;
}
.home-capitulo1:hover {
  color: var(--links);
}

.encabezadocursos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #2a2b40;
  padding: 10px 15px 10px 15px;
}

                                /* //formulario// */

.contenedor-vof {
  display: flex;
  flex-direction: column;

}      
.form-vof textarea {
  width: 100%;

}                          
.form-vof {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}                              
.vof-listado {
  display: grid;
  grid-template-columns: 85% 15%;
  padding: 20px;
}
.vof-inputs {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.vof-vf {
  display: flex;
  align-items: center;
  gap: 5px;
}
.vof-botones {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.contenedoragregar {
  display: flex;
  justify-content: center;
}
.form-opciones{
  display: flex;
  flex-direction: column;
}
.opciones-container {
  display: flex;
  flex-direction: row;
}
.form-container {
  color: var(--text-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding: 20px 50px 20px 50px;
  gap: 5px;
  position: relative;
}
@media screen and (max-width: 1700px) {
	.opciones-container {
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 18px;
    align-items: center;
  }
}
@media screen and (max-width: 800px) {
	.opciones-container {
    font-size: 16px;
  }
}
@media screen and (max-width: 400px) {
	.opciones-container {
    display: grid;
    grid-template-columns: 100%;
    font-size: 18px;
    align-items: center;
  } .form-container {
    padding: 1px;
  } .vof-listado {
    padding: 5px;
  } .vof-inputs{
    gap: 2px;
  } .vof-vf{
    gap: 2px;
  } .form-vof {
    padding: 5px;
  } .resultado input {
    width: 100%;
    font-size: 15px !important;
  }
}

.resultado {
  font-size: 17px !important;
  display: flex;
  gap: 5px;
  justify-content: center;
} 
.form-correcta {
  text-align: center;
}
.form-cancelar {
  position: absolute;
  top: 1px;
  right: 1px;
}
.form-pyr {
  box-sizing: border-box;
  width: 100%;
  height: 350px;
}
.pyr-container {
  width: 100%;
}

.editarcurso {
  display: flex;
}
.aa::after {
  content: "→";
  padding-right: 20px;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
}
p {
  font-family: Lato,sans-serif;
}
h2 {
  text-align: center;
  padding: 5px;
}
h4 {
  padding: 5px;
  font-size: 16px;

}

h5 {
  text-align: center;
  padding: 5px;

}

#botonmostrar {
  background-color: var(--text-color);
  color: var(--body-color);
}

                                            /* //consola// */
.consola {
  // background-color: #13132a;
  background-color: var(--container-color);
  padding: 10px;
}
.navconsola {
  background-color: var(--container-color);
  padding: 10px;
  position: relative;
}

.consolacargando {
  position: absolute;
  top: 50px;
  right: 10px;
  width: 100px;
  height: 100px;
  background-color: none;

}

hr {
  margin-top: 25px;
  margin-bottom: 25px;
  border: 0;
  border-top: 1px solid var(--text-color) !important;
  border-top: 1px solid var(--text-color) !important;

}
.enconsola {
  color: #74767a;
}

.botonhistorial {
  background-color: inherit;
  border-radius: 50%;
  border-color: var(--border-color);
  color: #74767a;
}

blockquote {
  font-size: 16px;
  font-style: italic;
}

.link a:hover {
  color: var(--links) !important;
}

code {
  padding: 1px 5px 3px 5px;
  background-color: var(--codes);
  color: var(--text-color) !important;
  font-size: inherit !important;
  font-family: var(--bs-body-font-family) !important;
}

code:hover {
  color: var(--link-hover) !important;
  text-decoration: underline;
}

.home {
  width: 100%;
}

.dropdown {
  font-size: 20px;
}

.boton-editar {
  background: var(--container-color);
  border: 15px;
  text-align: center;
  border: 2px solid var(--border-color);
  align-items: center;
  color: var(--text-color);
}
.boton-editar:hover {
  background: var(--text-color);
  color: var(--container-color);
}
                                /* //perfil// */

.perfil {
  grid-template-columns: auto 5fr;
  background-color: var(--body-color);
  min-height: 100vh;
  display: grid;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
}

.menuperfil {
  background-color: var(--body-color);
  color: var(--text-color);
  padding: 5px;
  min-width: 200px;
  position: relative;
  top: 10px;
}
.menuperfil ul {
  padding: 16px 5px 5px 5px;
}

.menuperfil a {
  color: var(--text-color) !important;
}
.menuperfil a:hover {
  color: var(--container-color) !important;
}

.perfil-boton {
  display: flex ;
  flex-direction: column ;
  font-size: 17px;
  padding: 5px;
  justify-content: space-around ;
  background: var(--container-color);
  text-align: center;
  border: 1px solid #e5e7e9;
  align-items: center;
  width: 100%;
  color: var(--text-color);
}
.perfil-boton:hover {
  background: var(--text-color);
  color: var(--container-color);
}
.perfil a {
  text-decoration: none;
  color: var(--text-color);
}

li {
  list-style: none;
}


.mispreguntas {
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media screen and (max-width: 800px) {
	.perfil {
    display: flex;
    flex-direction: column;
  }
  .menu ul {
    display: flex;
    width: 100%;
    padding: 2px;
  }
}

.cuadro {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--container-color);
    background-clip: border-box;
    border: 1px solid var(--border-cuadro);
    border-radius: 0.25rem;
    box-shadow: 0px 0px 5px 2px var(--container-shadow);
    padding: 10px;
    color: var(--text-color);
    gap: 10px;
}
.contenedor-opciones {
  color: var(--text-color);
  width: 100%;
}

.pregunta-encabezado {
  padding: 10px 40px 10px 40px;
}

.cuadro-respuesta {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--iniback);
  background-clip: border-box;
  border: 2px solid var(--border-color);
  border-radius: 0.25rem;
  padding: 15px;
}
.cuadro:hover {
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 2px var(--container-shadow-hover);
  /* border-color: #07c9ff; */
}
.cuadro-pregunta {
  position: relative;
}
.anexo-pregunta {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 10x;
  right: 155px;
  width: 30px;
  height: 30px;
  padding-bottom: 5px;
  font-size: 20px;
  color: var(--text-color);
}
.anexo-pregunta button {
  align-items: center;
  justify-content: center;
  display: flex;
  background: none;
  border: none;
  color: var(--text-color);
}
.quitar {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  right: 10px;
  font-size: 25px;
  top: 5px;
  
}
.quitar button {
  background: none;
  border: none;
  color: var(--text-color);
}
.anexo-examen {
  visibility: hidden;
}
.anexo-examen select {
  width: 150px;
}
.container-anexo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.respuesta {
  font-size: 20px;
}

.contenedorpreguntas {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  overflow: scroll;
  min-height: fit-content;
  max-height: 1000px;
  overflow-x: hidden;
}
.boton {
  font-size: 15px;
  width: auto;
}

.cuadrilla {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  
}

.volver {
  font-size: 30px;
  text-decoration: none;
  color: var(--text-color);
  text-align: left;
}
.volver:hover {
  color: var(--link-hover);
}
                                /* // examenes //*/
.examenes {
  background-color: var(--body-color);
  min-height: 100vh;
  padding: 20px;
}
.examen-filtrar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding-bottom: 20px;
}
.examen-filtrar button {
 width: 300px;
}
.examenesbuscar {
  background: none;
  border: none;
  font-size: 25px;
  color: #c6c6c6;
}
.examenesbuscar:hover {
  color: #b40a0a;
}
.examen-agregar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  color: var(--text-color);
  min-width: 150px;
  word-wrap: break-word;
  background-color: var(--secundario);
  background-clip: border-box;
  border-radius: 0.25rem;
  padding: 25px;
  text-decoration: none;
  box-shadow: 0px 0px 3px 1px var(--secundario);
}
.examen {
  height: 200px;
  color: var(--text-color);
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  word-wrap: break-word;
  background-color: var(--secundario);
  background-clip: border-box;
  border-radius: 0.25rem;
  padding: 15px;
  text-decoration: none;
  box-shadow: 0px 0px 3px 1px var(--container-shadow);
}
.examen .textos {
  justify-content: space-between;
  height: 100%;
}
.examenfecha {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
	.cuadrilla {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
	.cuadrilla {
    grid-template-columns: 1fr 1fr;
  }
}
.examen:hover {
  color: var(--link-hover) ;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 2px var(--container-shadow-hover);
}

.pagina-examen {
  background-color: var(--body-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
  padding: 0px 50px 0px 50px;
}
.examen-descripcion {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
}
.examen-descripcion-elementos {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.descripcion-editar {
  display: flex;
  align-items: center;
}
.descripcion-editar button {
  height: fit-content;
}
.pagina-examen-agregar-preg {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.comentario {
  display: grid;
  grid-template-columns: 105px 1fr;
  height: auto;
  text-align: left;
  padding: 10px;
  gap: 20px;
}

.comentar {
  padding: 10px;
}

@media screen and (max-width: 500px) {
  .comentario {
    display: flex;
    gap: 5px;
    text-align: center;
  }
  .contenedorpreguntas {
    padding: 2px;
    text-align: left;
  }
  .cuadro {
    font-size: 18px;
  }
  .contendedor-pregunta-respuesta {
    width: 100%;
    overflow: scroll;
    overflow-y: hidden;
    // overflow-x: hidden;
  }
}

@media screen and (max-width: 500px) {
  .perfil {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.respuestaa {
  display: none
}
.botonocultar {
  display: none;
}
.userNombre {
  width: 105px;
}

.pagina-examen a {
  text-decoration: none;
  color: var(--text-color);
}
.pagina-examen a:hover {
  text-decoration: none;
  color: var(--link-hover);
}

@media screen and (max-width: 500px) {
  .cuadrilla {
    grid-template-columns: 1fr;
  } .Inicio {
    padding: 5px;
  }
  .boton {
    font-size: 12px;
  }
  .pagina-examen {
    padding: 5px;
  }
  .agregar {
    width: 100%;
  }
  .dropdown {
    font-size: 15px;
  }
  .usuario {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  blockquote {
    font-size: 11px;
  } .perfil-boton {
    font-size: 15px;
  }
}



/* //cursos// */

.cursos {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--body-color);
  color: var(--text-color);
  font-size: 20px;
}
/* .cursos li {
  list-style: none;
} */
.cursos-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 50px 50px 50px;
  min-height: 100vh;
  
}

.cuadro-curso {
  background-color: var(--destacar);
  color: var(--text-color);
  text-align: left;
}
.cursos-descripcion {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0px 20%;
}
.show {
  width: 100%;
display: block;
}
.hide {
  // width: 100%;
display: none;
}
.respuesta-hide {
  width: 100%;
  color: var(--text-color) !important;
  background-color: var(--body-color) !important;
  color: #e5e7e9;
  border: none;
  padding: 10px;
  display: none;
}
.respuesta-show {
  color: var(--text-color);
  background-color: var(--body-color) !important;
  width: 100%;
  display: block;
  height: 50px;
  border: none;
  padding: 0;
}

.bloque-curso {
  padding: 15px;
}

.bloque-descripcion {
  border-bottom: 3px solid var(--body-color);
  padding: 0 15px 15px;
}

.boton-curso {
  background: var(--destacar);
  color: var(--text-color);
  height: 50px;
  border: none;
  padding: 0;
  width: 100%;
}
.boton-curso:hover {
  color: var(--text-color);
  background: var(--secundario);
}

.botonespreguntas {
  width: fit-content;
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  .cursos-descripcion {
    padding: 0;
  } .cursos-container {
    padding: 0;
  } 
}

.block ul {
  -webkit-padding-start: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
}

.tema {
  padding: 10px 15px 10px 15px;
  width: 100%;
}
.tema:hover {
  background: #3b3b4f;
}
.tema a {
  text-decoration: none;
  color: #e5e7e9;
  font-weight: 500;
}
.tema a:hover {
  text-decoration: none;
  color: #e5e7e9;
}

.listado-cursos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.listado-cursos button {
  font-size: 20px;
  padding: 8px;
  justify-content: space-around;
  background: #3b3b4f;
  border: 15px;
  text-align: center;
  border: 2px solid var(--border-color);
  align-items: center;
  gap: 5px;
}
.listado-cursos button:hover {
  background: #e5e7e9;
  color: #3b3b4f;
}


.capitulos {
  display: grid;
  grid-template-columns: calc(50% - 0.5px) 1px calc(50% - 0.5px);
  min-height: 100vh;

}
.secciones {
  display: flex;
  flex-direction: column;
  background-color: var(--body-color);
  color: var(--text-color);
  padding: 15px;
  font-size: 20px;
  
}
.seccion {
  padding: 5px;
}

.reflex-spliter {
  background-color: var(--text-color);
}
strong {
  background-color: var(--destacar);
  height: auto;
  align-items: center;
  padding: 10px;
  font-weight: 600 !important;
  display: block;
  
}
.HomeMongo p {
  font-size: 25px;
}

circle {
    height: 20px;
    width: 20px;
    background-color: none;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    display: inline-block;
    font-size: 14px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 5px;
    top: 5px
}
.resuelta {
  background-color: var(--text-color);
  color: var(--destacar);
  font-weight: bolder;
}

@media screen and (max-width: 700px) {
  .capitulos {
    display: flex;
    flex-direction: column;
    min-height: auto;
  } .secciones {
    font-size: 16px;
    padding: 5px;
    min-height: 500px;
  } .HomeMongo p {
    font-size: 18px;
  }
}

.cursos-botones {
  display: flex;
  justify-content: space-between;
}

.cursos-as {
  display: flex ;
  flex-direction: column ;
  font-size: 17px;
  padding: 5px;
  width: 40%;
  justify-content: space-around ;
  background: var(--secundario);
  border: 15px;
  text-align: center;
  border: 2px solid var(--border-color);
  align-items: center;
  color: var(--text-color);
}

.cursos-as:hover {
    background: var(--text-color);
    color: var(--secundario);
}
.contenedor-descripcion {
  justify-content: space-around;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  display: block;
  align-items: center;
}

.examenes-descripcion {
  display: block;
  display: -webkit-box !important;
  max-width: 100%;
  height: 69px;
  font-size: 17px;
  margin: 0 auto;
  line-height: 1;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.botones-editar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}

.as {
  height: 100%;
  justify-content: space-between;
  background: #74767a;
  
}
.capitulos img {
  max-width: 100%;
}

.secciones a {
  color: var(--text-color);
  text-decoration: none;
}
.secciones a:hover {
  color: var(--text-color);
}

@media screen and (max-width: 570px) {
  .cursos {
    font-size: 15px;
  }
}

.imp {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: auto;
  
}

.proceso {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

em {
  padding: 1px 5px 3px 5px;
  background-color: var(--codes);
  color: var(--text-color);
  font-size: inherit !important;
  font-family: var(--bs-body-font-family) !important;

  
}

.preguntascurso {
  padding: 10px 0 10px;
}
